
@font-face {
    font-family:FONT1 ;
    src: url(../Fonts/English/DancingScript/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: FONT2;
    src: url(../topfonts/Starjedi.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:grey;

}

.card{
    margin-top: 20px;
    font-family: FONT2;
}
i.bi.bi-discord:hover{
    color: red;
}
i.bi.bi-discord{
    background-color: midnightblue;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
    text-decoration: underline ghostwhite;
}
a.nav-link:hover{
    background-color:midnightblue;
    color: ghostwhite;
}
div.card-body{
    color:midnightblue;
}
div.navbar-brand{
    font-family:FONT1 ;
    text-decoration: underline #0dcaf0;
    color: #111;
}
a.nav-link{
    border-radius: 5px ;
}
nav.navbar.nav{}
.card-tite{
    color:rgb(33, 33, 33);
}