*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #fff;
    @font-face {
        font-family:font-1 ;
        src: url(../top fonts/starhedi.ttf);
    }
    font-family: font-1;
}

.card{
    margin-top: 20px;
}
i.bi.bi-discord:hover{
    color: red;
}
a.nav-link:hover{
    background-color:midnightblue;
    color: ghostwhite;
}
