
@font-face {
    font-family:FONT1 ;
    src: url(../Fonts/English/DancingScript/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: FONT2;
    src: url(../topfonts/Starjedi.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:#E3E6E6;

}

.card{
    margin-top: 20px;
    font-family: FONT2;
}
i.bi.bi-discord:hover{
    color: red;
}
i.bi.bi-discord{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #7289da ;
    color: ghostwhite;
    text-decoration: none;
    
}
a.nav-link:hover{
    background-color:ghostwhite;
    color: #212529;
}
a.nav-link{
    color: ghostwhite;
    font-family: FONT2;
}
div.card-body{
    color:midnightblue;
    
}
div.navbar-brand{
    font-family:FONT1 ;
}
a.nav-link{
    border-radius: 5px ;
}

.card-tite{
    color:rgb(0, 0, 0);
}
